﻿@model Evaluacion02.Models.Instructor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.especialidad.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sede.nameHeadquarters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sede.nameHeadquarters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstLastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondLastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
