﻿@model Evaluacion02.Models.Instructor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.especialidad.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sede.nameHeadquarters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sede.nameHeadquarters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstLastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondLastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondLastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idInstructor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
