﻿@model IEnumerable<Evaluacion02.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.especialidad.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sede.nameHeadquarters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.secondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstLastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.secondLastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.especialidad.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sede.nameHeadquarters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstLastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secondLastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idInstructor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idInstructor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idInstructor })
        </td>
    </tr>
}

</table>
