﻿@model IEnumerable<Evaluacion02.Models.Sede>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameHeadquarters)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameHeadquarters)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idHeadquarters }) |
            @Html.ActionLink("Details", "Details", new { id=item.idHeadquarters }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idHeadquarters })
        </td>
    </tr>
}

</table>
